.fontAwe {
	font-size: 72px;
    background: -webkit-linear-gradient(#004990, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fontAweOnlyColor {
    background: -webkit-linear-gradient(#004990, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fontAweOnlyColorRed {
	background: -webkit-linear-gradient(#b12a5b, #ff8177);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fontAweOnlyColorEdit {
	background: -webkit-linear-gradient(#f6d365, #fda085);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modalHeaderGradient{
	background-image: linear-gradient(to bottom right, #004990 0%, #2196f3 100%) !important;
}

.modal-header .closeOv {
	padding: 1.50rem !important;
}

.id {
	vertical-align: middle !important;
}

.table-green-bg {
	background-color: #d4edda9e;
}

.table-yellow-bg {
	background-color: rgb(255, 243, 205);
}

.table-red-bg {
	background-color: #f8d7da82;
}

.spin {
	-webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}